# src
src

# scripts
scripts

# test
test
**/*.spec.*
jest.config.js

# configs
tsconfig.json
.eslintrc
.releaserc
jest.config.js
commitlint.config.js
sonar-project.properties

# idea
.idea
*.iml

# ci
.github

# integration tests
itest
coverage

# other
docs
