# src
src

# scripts
scripts

# test
**/*.spec.*
test

# configs
tsconfig.json
.eslintrc
.releaserc
jest.config.js
commitlint.config.js
sonar-project.properties

# idea
.idea
*.iml

# ci
.circleci

# integration tests
itest
coverage
